@media only screen and (max-width: 991px) {
  ul.responsive.meta > li {
    float: left;
    margin: 0 10px;
  }
  .ui.rail {
    display: none;
  }
  .ui.statistics {
    background: #E0E0E0;
    > .statistic {
      margin: 1.5em 2em !important;
    }
  }
  .overview .ui.statistics .statistic > .value, .overview .ui.statistics .statistic > .label {
    color: black;
  }
}