@media only screen and (max-width: 767px) {
  .jumbotron>.content {
    bottom: 25%;
  }

  .jumbotron.subtitle {
    font-size: 2.6em;
  }
  .ui.four.item.pointing.secondary.tabbing.menu {
    display: inline-block;
  }
  .jumbotron.profile {
    min-height: 60vh !important;
  }

  .ui.statistics {
    background: rgba(0,0,0,.8);
    margin-bottom: 1rem;
    .statistic {
      .value {
        font-size: 2rem !important;

      }
    }
  }

  article {
    padding: 10rem 0 10rem;
  }
}