@keyframes bounce {
  0% {
    bottom: 7%;
  }
  50% {
    bottom: 5%;
  }
  100% {
    bottom: 7%;
  }
}

header.jumbotron, .cover {
  min-height: 60vh;
  padding: 10rem 0;
  position: relative;
  color: white;
}

body {
  margin-top: -20px;
}

.overview.cover {
  background-image: url('../images/home-smoke.jpg');
}

.half.jumbotron {
  margin-top: 56px;
  min-height: 191px;
  padding: 50px 0;
  .content {
    background: none;
    //top: 150px !important;
    display: block;
    width: 100%;
    h2 {
      font-size: 1.2rem;
    }
  }
}

.jumbotron {
  width: 100vw;
  background: #1B1C1D;
  box-sizing: content-box;
}

header.jumbotron.home {
  background-image: url('../images/bg-home.jpg');
}

header.jumbotron.project, header.jumbotron.challenge {
  background-image: url('../images/bg-project.jpg');
}

header.jumbotron.platform {
  background-image: url('../images/bg-platform.jpg');
}

header.jumbotron {
  background-image: url('../images/home3.jpg');
}

header.jumbotron, .overview.cover {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.computer.only .header.item {
  width: 140px;
  margin: 0px 40px 0px 0px !important;
  padding: 0px !important;
}

.header.item > img {
  width: 140px !important;
}

.jumbotron.subtitle {
  background: none;
  & {
    font-size: 3.2em;
  }
}

div > footer.jumbotron {
  min-height: 183px;
  background-size: contain;
  background-color: #444444;
  background-image: url('../images/dirakit-logo-bottom.png');
  background-repeat: no-repeat;
  background-position: left;
}

div > footer.jumbotron > div.container {
  position: relative;
  top: 20px;
  bottom: 20px;
}

.jumbotron > .content {
  bottom: 45%;
  & {
    text-align: center;
    position: absolute;
  }
}

.jumbotron.profile > .content {
  text-align: left;
}

.jumbotron > .scroll.indicator {
  position: absolute;
  text-align: center;
  display: block;
  width: 100%;
  bottom: 5%;
  animation: bounce 1s infinite;
  font-size: 2rem;
}

.jumbotron > * {
  color: #fff !important;
}

.ui.secondary.top.fixed.menu {
  background-color: white;
}

.ui.top.fixed.menu {
  padding: 1.5rem 0 !important;
}

.tablet.only > .ui.top.fixed.menu {
  margin-top: -0.5rem !important;
}

article {
  background-color: #F2F2F2;
  padding: 10rem 0;
}

footer {
  text-align: center;
  a {
    color: #D1D1D1;
    &.brand {
      font-weight: bolder;
    }
  }
}

.jumbotron.profile .content h2, .profile .content .title, .jumbotron.profile .content h3, .profile .content .subtitle {
  margin-top: 10px;
}

.profile .content p {
  margin: 0;
}

.jumbotron.profile .content img.bordered {
  border: 10px solid rgba(255, 255, 255, 1);
}

.jumbotron.profile .content h2, .profile .content .title {
  font-size: 2.4rem;
}

.jumbotron.profile .content h3, .profile .content .subtitle {
  font-size: 1.3rem;
}

article.profile {
  margin: 1rem 0 10rem 0;
}

.challenge .row ul, ul.nolist {
  padding: 0;
}

.challenge .row ul > li, ul.nolist > li {
  list-style: none;
}

.create-page {
  margin: 10rem 0 !important;
}

.create-page .ui.three.column {
  margin: 20px 0;
}

.ui.form .inline.field > .selection.dropdown, .ui.form .inline.fields .field > .selection.dropdown {
  width: 100% !important;
}

.summary.unhide {
  color: #F25964;
}

.summary.save {
  color: #578AC5;
}

.summary.users {
  color: #FDBF8B;
}

.overview .row {
  margin: 1rem 0;
}

.overview .ui.statistics .statistic > .value, .overview .ui.statistics .statistic > .label {
  color: white !important;
}

.ui.comments {
  max-width: 100%;
}

.ui.label {
  margin-bottom: 8px;
}

div > footer.jumbotron {
  padding: 0 0;
}

.ui.grid.tablet.mobile.only > * {
  padding-left: 0;
  padding-right: 0;
}

.ui.statistic > .value, .ui.statistics .statistic > .value {
  font-size: 2.5rem !important;
}

.ui.sticky.fixed {
  margin-top: 5rem !important;
}

.ui.button.in:hover {
  color: rgba(255, 255, 255, 0.8);
  background-color: #00b8ed;
}

.ui.secondary.pointing.menu {
  border-bottom: none !important;
}

.ui.item.secondary.pointing.tabbing.menu > .item {
  text-transform: uppercase;
  width: auto;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.ui.card .content a.header {
  max-width: 100%;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui.card > .image {
  height: 188px;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  display: flex !important;
  background: white !important;
  img {
    height: inherit !important;
    width: auto !important;
    vertical-align: middle;
    position: absolute;
  }
}

article.platform .card .content {
  text-align: center;
}

// Import prism

@import "tabletonly";
@import "mobile";
@import "mobileandtablet";
@import "desktoponly";
@import "prism";